:root{
--blockSize:400px;
}

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.board{
    width:var(--blockSize);
    height:var(--blockSize);
    display:grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(3,1fr);
    grid-gap:5px;
    background-color:black ;
}

.block{
    background-color:pink;
    display:grid;
    align-items: center;
    justify-items: center;
}

.emptyBlock{
    height:0;
    width:0;
}

.imgX{
    height:70%;
    width:70%;
}

.imgO{
    height:70%;
    width:70%;
}